html {
  height: 100%;
  width: 100%;
  font-size: 18px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: center;
  background: #EEF2F7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-dialog {
  max-width: none;
  width: auto;
  margin: 0 5%;
}
/**
  - Change the rem value for Text when screen size change
  - Not really working on the current project as it checks the whole screen sizes and body is set to 320 x 240 px only
  - Will work on real mobile device
**/
@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}